afterglowpy==0.8.1
alabaster==1.0.0
babel==2.18.0
bilby==2.8.0
bilby-cython==0.5.4
boto3==1.43.4
botocore==1.43.4
corner==2.2.3
dill==0.4.1
docutils==0.22.4
dynesty==3.0.0
emcee==3.1.6
extinction==0.4.8
imagesize==2.0.0
llvmlite==0.47.0
looseversion==1.3.0
lsst-resources==30.2026.1400
lsst-utils==30.2026.1800
lxml==6.1.0
numba==0.65.1
psycopg2-binary==2.9.12
redback==1.15.3
roman-numerals==4.1.0
rubin-scheduler==3.21.1
rubin-sim==2.6.2
s3transfer==0.17.0
sncosmo==2.12.1
snowballstemmer==3.0.1
sphinx==9.1.0
sphinx-rtd-theme==3.1.0
sphinx-tabs==3.5.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
structlog==25.5.0
ts-fbs-utils==0.19.2
